<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">{{ site.data.resume.summary }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Work Experience</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5 class="text-muted"> {{ site.data.resume.work.company }}</h5>
                                    <h5 class="text-muted"> {{ site.data.resume.work.position }}</h5>
                                    <p class="text-muted">{{ site.data.resume.work.startDate }}</p>
                                    <p class="text-muted">{{ site.data.resume.work.endDate }}</p>
                                    <p class="text-muted">{{ site.data.resume.work.highlights }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>March 2011</h4>-->
                                    <h4 class="subheading">Education</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5 class="text-muted"> {{ site.data.resume.education.institution }}</h5>
                                    <h5 class="text-muted"> {{ site.data.resume.education.area }}</h5>
                                    <h5 class="text-muted">{{ site.data.resume.education.studyType }}</h5>
                                    <p class="text-muted">{{ site.data.resume.education.startDate }}</p>
                                    <p class="text-muted">{{ site.data.resume.education.endDate }}</p>
                                    <p class="text-muted">{{ site.data.resume.education.gpa }}</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>December 2012</h4> -->
                                    <h4 class="subheading">Volunteer</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5 class="text-muted"> {{ site.data.resume.volunteer.organization }}</h5>
                                    <h5 class="text-muted"> {{ site.data.resume.volunteer.position }}</h5>
                                    <p class="text-muted">{{ site.data.resume.volunteer.startDate }}</p>
                                    <p class="text-muted">{{ site.data.resume.volunteer.endDate }}</p>
                                    <p class="text-muted">{{ site.data.resume.volunteer.highlights }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Awards</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5 class="text-muted"> {{ site.data.resume.awards.title }}</h5>
                                    <h5 class="text-muted"> {{ site.data.resume.awards.date }}</h5>
                                    <h5 class="text-muted">{{ site.data.resume.awards.awarder }}</h5>
                                    <p class="text-muted">{{ site.data.resume.awards.summary }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>